/* 顶部导航栏左侧 */
.navtop {
    position: fixed;
    top:0;
    z-index: 1;
    width: 1519.2px;
    height: 64px;
    background-color: #ffffff;
}

.navtop-container {
    width: 1200px;
    height: 64px;
    margin: 0px auto;
    position: relative;
    font: 16px "Mircosoft Yahei";
}

.navtop-container a:hover {
    color: #00ad4d;
}

.navtop-logo {
    display: inline-block;
    position: relative;
    top: 16px;
    width: 217px;
    height: 28px;
    float: left;
}

.navtop-logo a {
    width: 100%;
    height: 28px;
}

.navtop-logo a img {
    height: 32px;
}

.logo-course {
    position: relative;
    top: 20px;
    width: 32px;
    height: 21px;
    margin-left: 65px !important;
    float: left;
}

.triangle {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-width: 6px 5px 0 5px;
    border-top-color: #c6c6c6;
    float: left;
    position: relative;
    top: 28px;
    margin-left: 4px;

}

.course-school {
    float: left;
    position: relative;
    top: 20px;
    width: 32px;
    height: 21px;
    margin-left: 30px;
}

.school-cloud {
    float: left;
    position: relative;
    top: 20px;
    width: 48px;
    height: 21px;
    margin-left: 40px;
}

.cloud-class {
    float: left;
    position: relative;
    top: 20px;
    width: 48px;
    height: 21px;
    margin-left: 40px;
}

.class-app {
    float: left;
    position: relative;
    top: 20px;
    height: 21px;
    margin-left: 40px;
}
/* 顶部导航栏右侧 */
.nav-top-right {
    position: absolute;
    right: 0;
    text-align: center;
    top: 15px;
    width: 411.39px;
    font-size: 14px;
}

.unlogin {
    width: 80px;
    height: 30px;
    float: right;
    position: relative;
    top: 50%;
    text-align: center;
    margin-left: 43px;
}

.unlogin a {
    position: relative;
    top: 5.4px;
    color: #000;
}


.huo {
    display: inline-block;
    width: 20.4px;
    height: 19.2px;
    text-align: center;
}

.nav-top-right-search {
    border-radius: 16px;
    display: inline-block;
    color: black;
    font-size: 16px;
    margin-left: 28px;
    padding: 0 0 0 7px;
    vertical-align: middle;
    width: 247px;
    height: 34px;
    border: 1px solid #00cc7e;
}

.sousuo {
    display: inline-block;
    width: 180px;
    height: 20px;
    padding: 5px;
    border-style: none;
    font-size: 14px;
    outline: none;
    color: #b8b8b8;
}

.sousuokuang {
    font: 20px 'icomoon';
    color: white;
    border-radius: 16px;
    position: absolute;
    right: 125px;
    width: 56px;
    height: 35px;
    background-color: #00cc7e;
}

.sousuospan {
    line-height: 35px;
}

.input {
    width: 200px;
    height: 30px;
}
/* 主体部分 */
.main {
    width: 1200px;
    height: 360px;
    margin: 75px auto 12px;
}

.main a:hover {
    text-decoration: underline;
    color: #00ad4d;
}

.main-left {
    float: left;
    width: 200px;
    height: 340px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
}

.main-left div:hover {
    color: #00ad4d;
    background-color: #e5f9ee;
}

.main-center {
    position: relative;
    width: 776px;
    height: 360px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;

}
.main-center ul {
    position: relative;
}
#pic-ul li {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}
#pic-ul>li:first-child{
    opacity: 1;
}
#pic-ul li img {
    width: 100%;
    height: 100%;
}
.main-center:hover {
    cursor: pointer;
}

.leftjt {
    top: 156px;
    left: 20px;
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    text-align: center;
    opacity: 0;
}
.leftjt img {
    margin-top: 10px;
}
.rightjt {
    top: 156px;
    right: 20px;
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    text-align: center;
    opacity: 0;
}
.rightjt img {
    margin-top: 10px;
}
.leftjt:hover,.rightjt:hover {
    background-color: rgba(0,0,0,.5);
}
.lunbob{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    cursor: default;
}
.lunbob div{
    display: inline-block;
    width: 20px;
    height: 4px;
    margin: 0 3px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}
.lunbob div:first-child {
    background-color: rgba(255, 255, 255);
}
.main-right {
    float: right;
    width: 200px;
    height: 360px;
    margin: 0;
    background-color: #fff;
    border-radius: 8px;
}

.inner-box {
    width: 176px;
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
}

.inner-span {
    margin-right: 8px;
}

.inner-box a {
    line-height: 34px;
}

.inner-a {
    margin-right: 0px;
    font-size: 12px;
    color: #999
}

.xiegang {
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif;
    color: #999;
}

.main-triangle-box {
    position: relative;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}

.icomoon {
    position: relative;
    bottom: 5px;
    display: inline-block;
    font-family: 'icomoon';
    color: #999;
}

.main-right-1 {
    position: relative;
    top: 24px;
    width: 160px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}

.main-right-2 {
    position: relative;
    top: 68px;
    width: 72px;
    height: 72px;
    margin: 0 auto;
}

.main-right-3 {
    width: 168px;
    height: 32px;
    position: relative;
    top: 92px;
    margin: 0 auto;
    border-radius: 18px;
    background-color: #00cc7e;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 32px;
    text-align: center;
}

.main-right-3:hover {
    background-color: #00b36e;
}

.main-right-4 {
    width: 144px;
    position: relative;
    bottom: -175px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
    color: rgb(153, 153, 153);
}
/* 学校部分 */
.school {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 16px;
    background-color: #fff;
}

.school-left {
    display: inline-block;
    font-size: 16px;

    width: 150px;
    height: 60px;
    margin: 0 0 0 20px;
    text-align: center;
}

.school-left a {
    position: relative;
    top: 22px;
}

.school-left a:hover {
    color:#333;
}

.school-all {
    float: right;
    display: inline-block;
    width: 945px;
    height: 60px;
    padding: 0 43px 0 22px;
}

.dayu {
    width: 14px;
    height: 14px;
    float: right;
    font: 200 22px 'icomoon';
    color: #dedede;
}

.school-all div {
    float: left;
    width: 110px;
    height: 60px;
}

.beida {
    width: 98px;
    margin-right: 98px;
}

.zheda {
    margin-right: 98px;
}

.nanda {
    margin-right: 98px;
}

.huake {
    margin-right: 98px;
}

.school-all div img {
    position: relative;
    top: 14.5px;
    width: 110px;
    line-height: 60px;
}
/* 课程部分 */
.course-box {
    position: relative;
    width: 1200px;
    height: 369px;
    margin: 0 auto;
    margin-bottom: 20px;

}
.fqieyetu {
    position: relative;
    width: 1200px;
    height: 295px;
    background-color: #f7f7f7;
    overflow: hidden;
    border-radius: 8px;
}
.qieyetu {
    width: 2400px;
    position: absolute;
    left: 0;
    transition: left 0.5s;
}
.course-dayu {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateX(-30%);
    width: 40px;
    height: 40px;
    opacity: 1;
    user-select: none;
    z-index: 1;
}
.course-dayu img{
    width: 40px;
    height: 40px;
}

.course-dayu:hover {
    color: black;
    cursor: pointer;
}

.course-xiaoyu {
    position: absolute;
    right: 100%;
    top: 50%;
    width: 40px;
    height: 40px;
    opacity: 0;
    user-select: none;
    z-index: 1;
}
.course-xiaoyu img{
    width: 40px;
    height: 40px;
}

.course-xiaoyu:hover {
    cursor: pointer;
}

.bianjituijian {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.clearfix:after {
    content: "";
    display: "block";
    clear: both;
    height: 0;
    visibility: hidden;
    visibility: hidden;
}

.clearfix {
    /*IE6、7专有*/
    *zoom: 1;
}

.course- {
    position: relative;
    width: 224px;
    height: 295px;
    float: left;
    border-radius: 8px;
    margin-right: 16px;background-color: #fff;
    cursor: pointer;
}
.course-:hover {
    box-shadow: 5px 2px 8px -2px rgba(0, 0, 0, .1);
}

.course-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 224px;
    height: 126px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.course-img img {
    width: 100%;
    height: 100%;
}

.course-text {
    width: 200px;
    position: relative;
    margin-top: 126px;
    margin-bottom: 10px;
    left: 0;
    padding: 10px 12px;
    padding-bottom: 0;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
}

.introduction {
    width: 200px;
    height: 80px;
}

.introduction h3 {
    margin-bottom: 0.5em;
}

.introduction p {
    font: 12px PingFangSC-Regular, PingFang SC;
    color: #666;
}

.people-invlovolved {
    font-size: 12px;
    color: #999
}

.course-footer {
    height: 34px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    padding-bottom: 0;
    border-radius: 8px;
    background: #f8f9fb;
    font: 12px PingFangSC-Regular, PingFang SC;
    color: #999;
}
/* 排行栏制作 */
.paihang {
    width: 1200px;
    height: 552px;
    margin: 0 auto;
}

.benzhoupaihang {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
}

.paihang-box {
    height: 496px;
    background-color: #f7f7f7;
}

.paihang- {
    position: relative;
    width: 382px;
    height: 496px;
    margin-right: 18px;
    float: left;
    background-color: #fff;
}
.paihang-zuo {
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 5px;
    width: 38px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    opacity: 0;
    z-index: 2;
}
.paihang-you {
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:5px;
    width: 38px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    opacity: 0;
    z-index: 2;
}
/* 排行栏顶部 */
.paihang-top {
    position: relative;
    background: linear-gradient(to bottom, #fcf5e3, #fff);
    width: 350;
    height: 68px;
    background-color: #fff;
    padding: 0 16px;
}

.paihang-top-left {
    position: absolute;
    left: 20px;
    width: 180px;
    height: 68px;
}

.remenpaihang {
    position: absolute;
    left: 20px;
    top: 20.5px;
    font-size: 18px;
    font-weight: 600;
    color: #d1802b;
}

.TOP {
    position: relative;
    top: 25px;
    left: 100px;
    font-size: 14px;
    font-weight: 400;
    color: #d1802b;
}

.paihang-top-right {
    position: relative;
    top: 20.5px;
    right: -180px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #E2E2E2;
}
/* 排行栏中部 */
#fpaihang {
    position: relative;
    width: 382px;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}
#fpaihang:hover {
    cursor: pointer;
}
.paihang-qieye {
    position: relative;
    width: 1146px;
    height: 400px;
    left: 0;
    transition: left 0.5s;
}
.paihang-main {
    position: relative;
    float: left;
    width: 368px;
    height: 64px;
    margin: 0 0 20px;
    padding: 0 0 0 14px;
    user-select: none;
}

.paihang-main-1 {
    position: absolute;
    left: 15px;
    display: inline-block;
    width: 20px;
    height: 100%;
    font-size: 20px;
    color: #FA5055;
    font-family: Helvetica-BoldOblique, Helvetica;
}

.paihang-main-2 {
    position: absolute;
    left: 40px;
    border-radius: 3px;
    display: inline-block;
    height: 100%;
    margin-right: 12px;
    overflow: hidden;
}

.paihang-main-2 img {
    height: 100%;
}

.paihang-main-3 {
    display: inline-block;
}

.duanluo-1 {
    position: absolute;
    left: 165px;
    top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.duanluo-2 {
    position: absolute;
    left: 165px;
    top: 28px;
    color: #666;
    font-size: 12px;
}

.duanluo-3 {
    position: absolute;
    left: 165px;
    top: 49px;
    font-size: 12px;
    color: #999;
}
.biaoqian-1 {
    position: fixed;
    bottom: 250px;
    right: 17px;
    width: 40px;
    height: 237px;
    border-radius: 4px;
    overflow: hidden;
}

.biaoqian-2 {
    position: fixed;
    bottom: 140px;
    right: 17px;
    width: 40px;
    height: 100px;
    border-radius: 4px;
    background-color: #00cc7e;
    text-align: center;
}

.biaoqian-2 span {
    display: inline-block;
    line-height: 18px;
    width: 16px;
    height: 80px;
    margin-top: 15px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.biaoqian-3 {
    position: fixed;
    bottom: 73px;
    width: 40px;
    height: 60px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
}

.biaoqian-3:hover {
    color: #fff;
    background-color: #00cc7e;
}

.biaoqian-3 img {
    margin-left: 4px;
    margin-bottom: 4px;
    width: 24px;
    height: 24px;
}

.biaoqian-4 {
    position: fixed;
    bottom: 12px;
    width: 40px;
    height: 60px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
}

.biaoqian-4:hover {
    color: #fff;
    background-color: #00cc7e;
}

.biaoqian-4 img {
    margin-left: 4px;
    margin-bottom: 4px;
    width: 24px;
    height: 24px;
}